* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;

  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      list-style: none;
    }
  }
  
  /* Style the counter cards */
  .card {
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 25px;
    text-align: center;
    background-image: url(https://ak.picdn.net/shutterstock/videos/11997797/thumb/8.jpg);
  }

  .card h5{
    color: tomato;
  }
  .rows { 
    display: inline;
  } 
  .columns { 
    flex: 33.33%; 
    padding: 5px; 
  }


  /* .flex-container { */
  /* display: flex; */
  /* flex-direction: row; */
  /* font-size: 20px; */
  /* text-align: center; */
/* } */

.flex-item-left {
  display: inline-flex;
  flex-direction: row;
  padding: 10px;
  resize: both;
  background-color: skyblue;
  /* flex: 50%; */
  width: 50%;
  height: 500px;
  overflow: hidden;
}

.flex-item-right {
  display: inline-flex;
  flex-direction: row;
  background-color: lightblue;
  padding: 10px;
  /* flex: 50%; */
  width: 50%;
  height: 500px;
  resize: both;
  overflow: hidden;
}

.flex-item {
  display: inline-flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  resize: both;
  overflow: hidden;
}



.flex-container {
  display: flex;  /*  remove when flex 50*/
  flex-direction: row;
  font-size: 20px;
  text-align: center;
}












